$bg-primary: #1c0f0a;
$bg-secondary: #2a1510;

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{

  --white: #FFF;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1D1D2E;

  --gray-100: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #FF3F4B;

}

button {
  cursor:pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

.default-background {
  background: linear-gradient(
    135deg,
    $bg-primary 0%,
    $bg-secondary 100%
  );
  min-height: 100vh;
}

body, input, button, textarea, select{
  font: 400 1rem sans-serif;;
}

@media (max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

@media (max-width: 1000px){
  html{
    font-size: 93.75%;
  }
}
