.container{
    width: 620px;
    // background-color: var(--dark-900);
    color: var(--white);
}

.container h2{
    margin: 1rem 0;
}

.containerItem{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    strong{
        color: var(--green-900);
    }
}

.description{
    margin-top: 0.3;
    word-break: break-all;
}

.buttonOrder{
    margin-top: 1.3rem;
    background-color: rgba(0,0,0, 40%);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--green-900);
}

.table{
    font-size: 1.9rem;
}

@media screen and (max-width: 768px){
    .container{
        width: 430px;
    }
}

@media screen and (max-width: 550px){
    .container{
        width: 300px;
    }
}