.loading {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.15); // leve escurecimento opcional
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  z-index: 9999;
}
