.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1{
    color: var(--white);
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    textarea{
        resize: none;
        min-height: 150px;
        width: 100%;
        padding: 0.5rem ;
    }

    select{
        width: 100%;
        height: 40px;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        background-color: var(--dark-900);
        border: 1px solid var(--gray-100);
        color: var(--white);
        margin-bottom: 1rem;
    }
}

.input{
    background-color: var(--dark-900);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    border: 1px solid var(--gray-100);
    margin-bottom: 1rem;
    height: 40px;
}

.buttonAdd{
    height: 40px;
    border: 0;
    background-color: var(--green-900);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    color: var(--dark-700);
    transition: background-color 0.7s;

    &:hover{
        background-color: var(--red-900);
    }

    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.08);
    }
}

.labelAvatar{
    width: 100%;
    height: 280px;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    border-radius: 0.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    input{
        display: none;
    }

    span{
        z-index: 99;
        position: absolute;
        opacity: 0.7;
        transition: all 0.5s;
    }

    span:hover{
        opacity: 1;
        transform: scale(1.2);
    }

    img{
        height: 100%;
        width: 100%;
       
        border-radius: 5px;
        object-fit: cover;
    }
}